.bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.banner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.banner-container > h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Poppins';
  text-align: center;
}

.banner-container > p {
  color: #fff;
  font-size: 40px;
  margin-top: 8px;
  font-family: 'Poppins';
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .banner-container > h1 {
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .banner-container > h1 {
    margin-top: -100px;
    font-size: 50px;
  }

  .banner-container > p {
    font-size: 27px;
  }
}